# Prerequisites

# Object files
*.o
*.ko
*.obj




# Shared objects (inc. Windows DLLs)


# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/

/build
/.environment
/app/usb_hid_host/build
